[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/yuwang888
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/yuwang888
	label-Verified = -1..+1 group user/yuwang888
	push = group user/yuwang888
	read = group user/yuwang888
	rebase = group user/yuwang888
	removeReviewer = group user/yuwang888
	submit = group user/yuwang888
[access "refs/heads/*"]
	create = group user/yuwang888
	push = +force group user/yuwang888
	pushMerge = group user/yuwang888
	read = group user/yuwang888
[access "refs/tags/*"]
	push = group user/yuwang888
	push = +force group user/yuwang888
